body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif
}

.navbar.navbar-expand-lg {
	padding: 30px 0
}

.navbar {
	background: #002287;
	background: linear-gradient(90deg, rgba(0, 34, 135, 1) 7%, rgba(0, 9, 68, 1) 76%)
}

.navbar a {
	color: #f5f5f5 !important;
	padding: 10px;
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: 700;
	padding: 0 1rem !important
}

.navbar a:hover {
	color: #fff
}

.navbar-brand {
	font-size: 2.2em !important;
	position: relative;
	top: -5px
}

.navbar-toggler {
	background-color: #fff
}

@media (max-width:600px) {
	.navbar .nav-item {
		padding: 10px
	}

	.navbar-brand {
		font-size: 1.3em !important
	}

	.navbar {
		padding: 10px
	}

	.navbar-toggler {
		margin-right: 1rem
	}

	#welcome-text {
		font-size: 1.5em
	}

	.footer-left p {
		font-size: .8em;
		z-index: 1;
	}

	.social-icons a {
		font-size: .9em !important;
		margin-left: 20px;
	}

	h3 {
		font-size: 2.5em !important;
	}

	#front-image {
		width: 90% !important;
		/* Decrease the width of the image */
	}
}

header {
	background: #002287;
	background: linear-gradient(90deg, rgba(0, 34, 135, 1) 7%, rgba(0, 9, 68, 1) 76%);
	background-color: #005580
}

header a {
	color: #fff;
	text-decoration: none
}

header a:hover {
	color: #ccc
}

.container {
	max-width: 1500px;
	padding: 20px;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	padding-bottom: 10rem
}

.main-content {
	flex: 1
}

.row {
	display: flex;
	justify-content: center;
}

.card {
	width: 100%;
	height: 100%;
}

.services li {
	margin-bottom: 30px;
}

.services .title-service {
	font-size: 24px;
	margin-bottom: 10px;
	display: block;
}

.services .service-details {
	font-size: 18px;
	line-height: 1.5;
}

.services .service-details p {
	margin-bottom: 10px;
}

.title-service {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

footer {
	background: #002287;
	background: linear-gradient(90deg, rgba(0, 34, 135, 1) 7%, rgba(0, 9, 68, 1) 76%);
	align-items: flex-end;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	height: 8rem;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #002287;
	background: linear-gradient(90deg, rgba(0, 34, 135, 1) 7%, rgba(0, 9, 68, 1) 76%);
	color: #fff;
	bottom: 0;
	width: 100%;
	height: 15rem
}

.footer-left {
	padding-left: 20px;
	padding-top: 10px
}

.footer-left p {
	padding-top: 10px
}

.social-icons {
	display: flex;
	align-items: center;
	padding-right: 20px;
	padding-bottom: 8rem
}

.social-icons a {
	margin-left: 10px;
	color: #fff;
	padding-left: 20px;
	font-size: 2em
}

.navbar li {
	font-weight: 700;
	padding: 0 10px;
	margin: 0 5px
}

ul {
	list-style-type: none;
	text-align: center
}

.services li {
	text-indent: -30px
}

#front-image {
	max-width: 100%;
	/* Scale the image down to fit the container */
	height: auto;
	/* Keep the aspect ratio of the image */
	width: 50%;
	/* Decrease the width of the image */
}


h1 {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 700
}

h3 {
	font-size: 4em;
	padding-bottom: 60px;
	text-decoration: underline;
	text-decoration-thickness: 4%;
}

.grid {
	padding: 20px 20px 20px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 40px;
	padding-bottom: 10rem;
}

.grid-item {
	width: 100%;
	height: auto
}

@media screen and (max-width:600px) {
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
	}
}

@media (max-width:600px) {
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
	}
}

html {
	scroll-behavior: smooth;
}
