body {
    font-family: Arial, sans-serif;
    /*background-color: #f5f5f5;*/
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar.navbar-expand-lg {
    padding: 30px 0; /* This will make the navbar thicker when it's fully expanded */
}

.navbar {
    background: rgb(0,34,135);
    background: linear-gradient(90deg, rgba(0,34,135,1) 7%, rgba(0,9,68,1) 76%);
}

.navbar a {
    color: whitesmoke !important;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.2em; /* This will increase the font size of the text */
    font-weight: bold; /* This will make the text bold */
    padding: 0 1rem !important;
}

.navbar a:hover {
    color: white; /* This will make the text color white */
}

.navbar-brand {
    font-size: 2.2em !important; /* This will increase the font size of the text */
    position: relative;
    top: -5px;
}

.navbar-toggler {
    background-color: white; /* Change the color of the toggle button to white */
}

@media (max-width: 600px) {
    .navbar .nav-item {
      padding: 10px;
    }
    .navbar-brand {
        font-size: 1.3em !important; /* This will increase the font size of the text */
    }
    .navbar {
        padding: 10px;
    }
    .navbar-toggler {
        margin-right: 1rem; /* or padding-right, depending on what you prefer */
    }
    #welcome-text {
        font-size: 1.3em;
    }
    
  }
  

header {
    background: rgb(0,34,135);
    background: linear-gradient(90deg, rgba(0,34,135,1) 7%, rgba(0,9,68,1) 76%);
    background-color: #005580;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #ccc;
}

.container {
    max-width: 1500px;
    padding: 20px;
    text-align: center;
    width: 90%; /* increase this value to make the sections wider */
    margin: 0 auto; /* center the container on the page */
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

footer {
    background: rgb(0,34,135);
    background: linear-gradient(90deg, rgba(0,34,135,1) 7%, rgba(0,9,68,1) 76%);
    color: white;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: #333;
    color: #fff;
}

footer p {
    padding-right: 20px;
}

.navbar li {
    font-weight: bold; /* Make the text bold */
    padding: 0 10px; /* adjust as needed */
    margin: 0 5px; /* adjust as needed */
}

ul {
    list-style-type: none; /* This will remove the bullet point symbols */
    text-align: center; /* This will center the list horizontally */
}

.services li {
    text-indent:  -20px;
}

h1{
    font-size: 3rem; /* increase the font size */
    text-transform: uppercase; /* make it uppercase */
    font-weight: bold; /* make it bold */

}

  

  
